.subh {
    font-size: 28px !important;
    color: #2f9400;
}

.desc {
    font-size: 22px;
    color: #4b4b4b;
    text-align: justify !important;
}

/* anim */
.img-main {
    animation: moveUpDown 4s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.buthon {
    background-color: #50b68f;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Potta One', cursive;
    text-decoration: none;
    transition: all 0.5s ease;
}

.buthon:hover {
    background-color: #2f940000;
    color: #50b68f;
}

.buthon2 {
    /* revrse before use outline  */
    background-color: #50b68f00;
    color: #50b68f;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Potta One', cursive;
    outline: #50b68f solid 2px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.buthon2:hover {
    background-color: #50b68f;
    color: white;
}

.btn-down {
    /* color */
    background-color: #50b68f;
    /* make it round */
    border-radius: 50%;
    /* size */
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveUpDown 4s ease-in-out infinite alternate;
}

.btn-down i {
    font-size: 30px;
    color: white;
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.img-hero2 {
    position: absolute;
    width: 100%;
    animation: movezoom 2s ease-in-out infinite alternate;
    z-index: -1;
    /* Set a negative z-index to place it behind other elements */
}

.img-hero4 {
    position: absolute;
    z-index: -1;
    /* Set a negative z-index to place it behind other elements */
}

@keyframes movezoom {
    0% {
        transform: translateX(0) scale(2);
    }

    50% {
        transform: translateX(20px) translateY(5px) scale(2);
    }

    100% {
        transform: translateX(-30px) translateY(-5px) scale(2);
        -webkit-transform: translateX(-30px) translateY(-5px) scale(2);
        -moz-transform: translateX(-30px) translateY(-5px) scale(2);
        -ms-transform: translateX(-30px) translateY(-5px) scale(2);
        -o-transform: translateX(-30px) translateY(-5px) scale(2);
    }
}

.img-hero3 {
    width: 70%;
}

.img-hero3:hover {
    animation: rubber 2s ease-in-out infinite alternate;
}

@keyframes rubber {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1, 0.9);
    }

    50% {
        transform: scale(1, 1.05);
    }

    75% {
        transform: scale(1.15, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 36px;
    }

    .img-main {
        display: none !important;
    }

    .fa-chevron-left {
        font-size: 2rem;
    }

    .fa-chevron-right {
        font-size: 2rem;
    }
}


.img-sec,
.img-sec2,
.img-sec3 {
    animation: moveUpDown 3s ease-in-out infinite alternate;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: moveUpDown 3s ease-in-out infinite alternate;
}

.img-sec {
    width: 70% !important;
}

.img-sec2 {
    width: 50% !important;
}

.img-sec3 {
    animation: rubber 5s ease-in-out infinite alternate;
    width: 150%;
}

@keyframes moveUpDownc {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
}

.img-c {
    animation: moveUpDownc 2.7s ease-in-out infinite alternate;
    -webkit-animation: moveUpDownc 2.7s ease-in-out infinite alternate;
}

.carousel {
    /* make it smaller */
    width: 70%;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 200px;
}

@media (max-width: 600px) {
    .img-sec,
    .img-sec2,
    .img-sec3 {
        width: 200%;
    }

    .img-sec {
        width: 200% !important;
    }

    .img-sec2 {
        width: 200% !important;
    }

    .img-sec3 {
        width: 150%;
    }

    .carousel {
        width: 100%;
    }

    .img-c {
        width: 100%;
    }
}
/* media query on sm smaller the font size in .desc to 20px */
@media (max-width: 576px) {
    .desc {
        font-size: 15px !important;
        padding: 0 20px 0 20px !important;
    }
}

/* media query on 992 smaller the font size in .desc to 18px */
@media (max-width: 992px) {
    .subhead {
        font-size: 25px !important;
    }
    .desc {
        font-size: 18px !important;
    }
    .img-main{
        /* set flesx center */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}