/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    margin: 10px 0 0 0;
}

@media (min-width: 1365px) {
    .hero {
        background-attachment: fixed;
    }
}

.img-hero {
    margin-top: 70px;
    animation: moveUpDown 2s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-30px);
    }
}

.img-hero2 {
    position: absolute;
    width: 100%;
    animation: movezoom 2s ease-in-out infinite alternate;
    z-index: -1; /* Set a negative z-index to place it behind other elements */
}

@keyframes movezoom {
    0% {
        transform: translateX(0) scale(2);
    }
    50% {
        transform: translateX(20px) translateY(5px) scale(2);
    }
    100% {
        transform: translateX(-30px) translateY(-5px) scale(2);
    }
}

.img-hero3 {
    width: 70%;
}

.img-hero3:hover {
    animation: rubber 2s ease-in-out infinite alternate;
}

@keyframes rubber {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1, 0.9);
    }
    50% {
      transform: scale(1, 1.05);
    }
    75% {
      transform: scale(1.15, 1);
    }
    100% {
      transform: scale(1);
    }
}

.hero h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Fredoka One';
    text-shadow: 1px 1px 2px #0000005e;
    margin-top: -30px;
}

.hero p {
    color: var(--color-primary);
    opacity: 80%;
    text-shadow: 2px 1.5px 1px #ffffff9a;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Fredoka One';
}

.hero .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.362);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.237);
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-family: 'Irish Grover';
    text-decoration: none;
    animation: zoom 4s ease-in-out infinite alternate;
}

.hero .btn-get-started:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.hero .btn-watch-video {
    font-size: 25px;
    transition: 0.5s;
    margin-left: 50px;
    color: #fff;
    font-family: 'Irish Grover';
    font-weight: 600;
    text-shadow: 1px 1px 2px #0000005e;
    text-decoration: none;
    animation: zoom 4s ease-in-out infinite alternate;
}

.hero .btn-watch-video i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.hero .btn-watch-video:hover i {
    color: #fff;
}

@keyframes zoom {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.05);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
}

@media (max-width: 640px) {
    .hero h2 {
        font-size: 36px;
    }

    .hero .btn-get-started,
    .hero .btn-watch-video {
        font-size: 14px;
    }
}


/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about {
    margin-top: 20%;
}

.img-sec,
.img-sec2,
.img-sec3 {
    animation: moveUpDown 2s ease-in-out infinite alternate;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-sec {
    width: 70%;
}

.img-sec2 {
    width: 50%;
}

.img-sec3 {
    animation: rubber 5s ease-in-out infinite alternate;
    width: 150%;
}


.slide {
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.248);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.237);
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    margin-bottom: 100px;
}